.bgw{background: #fff}
.index_service .service_con{width: 1300px;overflow: hidden;margin-top: 30px;margin-bottom: 30px;}
.index_service .service_con dl{float: left;width: 625px;height: 156px;margin: 0px 0 22px 44px;overflow: hidden;border-style: solid;border-width: 1px;}
.index_service .service_con dl:nth-child(2n-1){margin-left: 0;}
.index_service .service_con dl dt{float: left;width: 184px;height: 24px;line-height: 24px;padding: 106px 0 26px 0;text-align: center;font-size: 22px;color: #fff;}
.index_service .service_con dl dd{float: left;width: 364px;height: 134px;padding: 10px 27px;font-size: 14px;color: #888;overflow: hidden;}
.index_service .service_con dl dd p{height: 160px;line-height: 26px;overflow: hidden;font-size: 14px}
.index_service .service_con dl.sel_1{border-color: #fa5588;}
.index_service .service_con dl.sel_2{border-color: #82c24e;}
.index_service .service_con dl.sel_3{border-color: #2bb1ed;}
.index_service .service_con dl.sel_4{border-color: #7853e5;}
.index_service .service_con dl.sel_1 dt{background: #fa5588 url(../img/cor_icon6.png) no-repeat center 39px;}
.index_service .service_con dl.sel_2 dt{background: #82c24e url(../img/cor_icon7.png) no-repeat center 39px;}
.index_service .service_con dl.sel_3 dt{background: #2bb1ed url(../img/cor_icon8.png) no-repeat center 39px;}
.index_service .service_con dl.sel_4 dt{font-size: 18px;background: #7853e5 url(../img/cor_icon9.png) no-repeat center 39px;}
.floor_11{border-bottom: 1px solid #ebeaea;height: 550px;background: #0076ca url(../img/jan.jpg) no-repeat top center;}
.floor_11 .tit{background-color: #ecedee;height: 230px;text-align: center;}
.floor_11 em{color: #fff;display: block;font-size: 38px;font-weight: 100;padding-top: 60px;text-align: center;font-style: normal;}
.floor_11 p{color: #fff;display: block;font-size: 15px;margin-top: 5px;text-align: center;}
.floor_11 .fl11-list{height: auto;overflow: hidden;width: 850px;margin: 20px auto;}
.floor_11 .text{font-size: 18px;font-weight: lighter;padding-top: 10px;text-align: left;width: 400px;color: #fff;}
.floor_11 .text h2{font-size: 20px;text-align: left;color: #fff;}
.floor_11 .text span{color: #ffffff;display: block;font-size: 13px;line-height: 28px;margin-top: 10px;width: 400px;text-indent: 24px;}
.floor_11 .text b{background-color: #000;border-radius: 12px;color: #fff;display: block;float: left;font-size: 14px;height: 24px;line-height: 24px;margin: 24px 12px 0 0;text-align: center;width: 24px;}
.floor_11 .text a{background-color: #e92427;border-radius: 32px;clear: both;color: #fff;display: block;font-size: 18px;height: 42px;line-height: 42px;margin-left: 200px;margin-top: 20px;text-align: center;width: 160px;}
.hide{display: none !important;}
.w1100{width: 1100px;margin: 0 auto;}
.floor_11 ul.f11nav{margin: 20px auto;width: 950px;}
.floor_11 ul li{border: 1px solid #ffffff;color: #ffffff;cursor: pointer;display: inline-block;font-size: 16px;height: 35px;line-height: 35px;margin: 20px 40px;text-align: center;width: 150px;}
.floor_11 ul li.current{border: 1px solid #ffffff;background: #ffffff;color: #0096d6;}
.floor_4{background: url(../img/function_02_bg.jpg) no-repeat center top;height: 572px;border-bottom: 1px solid #ebeaea;border-top: 1px solid #ebeaea;}
.floor_4 .title em{color: #000;display: block;font-size: 38px;font-style: normal;font-weight: 100;padding-top: 60px;text-align: center;}
.floor_4 .title p{color: #5d5d5d;display: block;font-size: 15px;margin-top: 5px;text-align: center;}
.floor_4 .block-wap.weichat01{height: 350px;}
.floor_4 .block-wap{margin: 20px auto 0;position: relative;width: 1100px;z-index: 1;}
.floor_4 .block-wap.weichat01 .pic{height: 207px;left: 145px;bottom: 10px;width: 374px;}
.floor_4 .block-wap.weichat01 .texts{left: 150px;top: 30px;width: 500px;}
.floor_4 .block-wap .pic, .floor_4 .block-wap .texts{display: block;position: absolute;z-index: 1;}
.floor_4 .block-wap.weichat01 .texts h3{color: #333;font-size: 32px;line-height: 50px;margin-bottom: 10px;height: 35px;}
.floor_4 .block-wap.weichat01 .texts h3 i{width: 30px;height: 30px;color: #fff;font-weight: 600;font-size: 16px;background-color: #434a54;display: block;text-align: center;line-height: 30px;float: left;}
.floor_4 .block-wap.weichat01 .texts h3 strong{color: #000;font-size: 25px;line-height: 25px;font-weight: normal;float: left;margin-left: 10px;}
.floor_4 .block-wap .texts h4{color: #777;font-size: 13px;color: #000;font-weight: lighter;line-height: 180%;float: left;}
.floor_4 .block-wap.weichat02{height: 440px;}
.floor_4 .block-wap.weichat02 .pic{height: 320px;right: 100px;top: 30px;width: 320px;}
.floor_4 .block-wap.weichat02 .texts{left: 150px;top: 80px;width: 500px;}
.floor_4 .block-wap.weichat02 .texts h3 strong{color: #78b241;font-size: 44px;font-weight: normal;}
.floor_4 .block-wap.weichat02 .texts h3{color: #333;font-size: 32px;line-height: 50px;margin-bottom: 10px;}
.scroll{margin: 0 auto;width: 1100px;height: 400px;position: relative;overflow: hidden;}
.scroll ul{list-style-type: none;padding: 0;margin: 0;position: absolute;top: 0;left: 0;width: 99999px;height: 210px;}
.scroll li{float: left;width: 1100px;}
.prev{position: absolute;left: 20px;top: 150px;z-index: 9999}
.next{position: absolute;right: 0px;top: 150px;z-index: 9999}
.floor_4 .block-wap.weichat01 .block-wap-list{display: block;float: right;width: 310px;height: 290px;top: 30px;right: 120px;position: absolute;}
.floor_4 .block-wap.weichat01 .block-wap-list dl{background: url(../img/block.png) no-repeat center top;width: 93px;height: 93px;float: left;margin: 0 0 10px 10px;}
.floor_4 .block-wap.weichat01 .block-wap-list dl dt img{width: 45px;height: 45px;margin: 13px 25px 0;}
.floor_4 .block-wap.weichat01 .block-wap-list dl dd{text-align: center;font-size: 12px;}
.floor_4 i{font-style: normal;}
.floor_3{height: 600px;overflow: hidden;padding-bottom: 70px;border-bottom: 1px solid #ebeaea;background-color: #fafafa;}
.floor_3 .title{color: #000;display: block;font-size: 38px;font-weight: 100;padding-top: 60px;text-align: center;}
.floor_3 h2{color: #5d5d5d;display: block;font-size: 15px;margin: 5px 0 40px;text-align: center;}
.floor_3 .xuank_ul{width: 680px;height: 430px;float: right;}
.floor_3 .xuank_ul li{float: left;width: 210px;height: 200px;margin-left: 9px;margin-top: 10px;background: #fff;border: solid 1px #c6c9d7;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.floor_3 .xuank_ul li img{padding-top: 15px;padding-left: 60px;display: block;}
.floor_3 .xuank_ul li em{display: block;font-size: 20px;font-style: normal;text-align: center;color: #301d4e;margin-top: 5px;margin-bottom: 5px;font-weight: 100;}
.floor_3 .xuank_ul li span{display: block;font-size: 14px;text-align: center;color: #777575;}
.floor_3 .xuank_ul li strong{font-size: 38px;text-align: center;padding-top: 80px;display: block;color: #e8363e;padding-bottom: 8px;}
.floor_3 .xuank_ul li:hover{opacity: 0.7;cursor: pointer;}
.floor_3 .show1{width: 392px;height: 410px;color: #ffffff;border: 1px solid #c6c9d7;-moz-border-radius: 5px;-webkit-border-radius: 5px;float: left;margin-top: 10px;}
.floor_3 .show1 em{display: block;font-style: normal;font-size: 42px;color: #ffffff;text-align: center;padding-top: 50px;font-weight: 400;}
.floor_3 .show1 strong{font-size: 16px;display: block;text-align: center;color: #ffffff;margin-top: 10px;margin-bottom: 85px;font-weight: 200;}
.floor_3 .show1 span{display: block;width: 325px;color: #5d5d5d;margin: 0 auto;font-size: 16px;line-height: 26px;text-align: left;text-indent: 28px;}
.w1100{width: 1100px;margin: 0 auto;}
.floor7{background: url(../img/f7bg.jpg) no-repeat center top;height: 1120px;}
.floor7 .title span{display: block;font-size: 38px;padding-top: 74px;text-align: center;color: #000;}
.floor7 .title p{font-size: 20px;margin-bottom: 28px;margin-top: 12px;text-align: center;color: #000;}
.floor7 .no_1{height: 760px;margin-bottom: 60px;}
.floor7 li{background: #fff;border-radius: 3px;float: left;height: 395px;margin-top: 20px;width: 372px;}
.floor7 li span{display: block;font-size: 24px;margin-top: 20px;text-align: center;color: #000;}
.floor7 li p{font-size: 14px;line-height: 1.5em;padding: 0 30px;margin-top: 15px;color: #000;text-indent: 28px;}
.floor7 li:hover{cursor: pointer;background: #f8490a;}
.floor7 li:hover p{color: #ffffff;}
.floor7 li:hover span{color: #ffffff;}
.mr_20{margin-right: 20px;}
.floor10{height: 460px;overflow: hidden;padding-bottom: 50px;border-bottom: 1px solid #ebeaea;background-color: #fafafa;}
.floor10 .title{color: #000;display: block;font-size: 38px;font-weight: 100;padding-top: 60px;text-align: center;}
.floor10 h2{color: #5d5d5d;display: block;font-size: 15px;margin: 5px 0 40px;text-align: center;}
.w1220{margin: 0 auto;width: 1220px;}
.floor10 ul{margin: 48px auto;}
.floor10 ul li{float: left;margin-left: 30px;width: 280px;}
.floor10 ul li:first-child{margin-left: 22px;}
.floor10 ul li .img_1{background: #31b987;height: 110px;}
.floor10 ul li .img_2{background: #17b5e8;height: 110px;}
.floor10 ul li .img_3{background: #ff89b4;height: 110px;}
.floor10 ul li .img_4{background: #c5bbe5;height: 110px;}
.floor10 ul li img{margin: 25px 0 0 90px;width: 60px;height: 60px;}
.floor10 ul li .t_text{border: 1px solid #e5e5e5;height: 170px;padding: 0 22px;background: #fff;text-align: center;}
.floor10 ul li .t_text p{font-size: 22px;margin-top: 30px;color: #301d4e;font-weight: 100;}
.floor10 ul li .t_text span{color: #6e6e6e;display: block;font-size: 14px;margin-top: 15px;text-align: justify;}
.floor10 ul li .t_text a{border-radius: 4px;display: block;font-size: 18px;height: 40px;line-height: 40px;margin-top: 58px;text-align: center;width: 230px;}
.floor10 ul li .t_text .a_1{border: 1px solid #f6516d;color: #f6516d;}
.floor10 ul li .t_text .a_2{border: 1px solid #fda11e;color: #fda11e;}
.floor10 ul li .t_text .a_3{border: 1px solid #01ceac;color: #01ceac;}
.floor10 ul li .t_text .a_4{border: 1px solid #2ea4ff;color: #2ea4ff;}