/* CSS Document */

html,body,dl,dd,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,h7{margin:0;padding:0;border:0;}
ul,ol,li{ list-style-type:none;}
a img{ border:none}
iframe{border:none;}
/* function */
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.h{display:none;visibility:visible;}
.clear{clear:both;font-size:0;line-height:0;height:0;visibility:visible;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.right{text-align:right;}
.left{text-align:left;}
.b{font-weight:bold;}
.line-through{text-decoration:line-through;}
.under{text-decoration:underline;}
.break{word-break:break-all;}
.red{color:#af0102;}
.gray{color:#CCC;}
a.gray{color:#CCC;}
a.gray:visited{color:#CCC;}
.f14{font-size:14px;}
.editor{line-height:24px;text-align:left;}
.editor p{text-indent:2em;}
.editor ol li{list-style-type:circle; margin-left:25px;}
.editor ul li{list-style-type:square;margin-left:25px;}


a{outline:0;text-decoration:none}
strong{font-weight:400}
.strong{font-weight:700}
::selection{background:#1EACDF;color:#fff}
img{border:0}
::-moz-selection{background:#1EACDF;color:#fff}
::-webkit-selection{background:#1EACDF;color:#fff}
.autoWidth{margin:0 auto;min-width:1000px;max-width:1300px}
.auto{margin:0 auto;min-width:1000px;max-width:1300px}
@media screen and (max-width:1233px){.auto{padding-left:10px}
}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
.clear-float{clear:both}
.document-width{width: 1300px;    margin: 0 auto;}

body{font-family:"微软雅黑";font-size:12px;}
.container {width:100%;margin:0px auto;color:#444;}
a:link {color:#2b373d;text-decoration:none;}
a:visited {color:#2b373d;text-decoration:none;}
a:hover{color:#f65251;text-decoration: none;}
a:active {color:#2b373d;text-decoration:none;}

.header{ height:131px;box-shadow: 0 0px 5px #888;background-color: #ffffff;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=113, Color='#888888')";width: 100%;z-index: 200;}
.headertop_one{width: 100%;height: auto;border-bottom: 1px solid #ebebeb;padding: 0;}
.container1{margin: 0 auto;position: relative;width: 1300px; }
.top_one{width: 40%; float:left;}
.top_links{float: left;}
.top_links li{margin-top: 3px;margin-right: 10px;float: left;}
.top_links li a{ line-height:25px; font-size:13px; font-family:Verdana, Geneva, sans-serif;}
.top_links i{ margin-right:5px}

.top_one_nav{ width:60%; float:right}
ul.header_nav_ico {float: right;list-style: none;margin-top: 0px;}
ul.header_nav_ico li {float: left;border-right: 1px solid #ebebeb;line-height:23px;}
ul.header_nav_ico li:first-child { border-left: 1px solid #ebebeb }
ul.header_nav_ico li a {float: left;width: auto; height: 27px;text-align: center;-webkit-transition: all 0.45s ease-out;-moz-transition: all 0.45s ease-out;-o-transition: all 0.45s ease-out;-ms-transition: all 0.45s ease-out;transition: all 0.45s ease-out;padding: 5px 7px 0px 7px;font-size: 12px;}
ul.header_nav_ico li a span {font-size: 12px;margin-left: 5px;margin-right: 5px;}
ul.header_nav_ico li a:hover span {color: #FFF;}
ul.header_nav_ico li a.twitter:hover { background: #46d4fe }
ul.header_nav_ico li a.facebook:hover { background: #37589b }
ul.header_nav_ico li a.googleplus:hover { background: #de5a49 }
ul.header_nav_ico li a.linkedin:hover { background: #419cca }
ul.header_nav_ico li a.dribbble:hover { background: #c8346c }
ul.header_nav_ico li a.skype:hover { background: #00abeb }
ul.header_nav_ico li a:hover i { color: #FFF }



/*css雪碧图*/
.img{background:url(../img/img_1.png) no-repeat ;}
.xjt_l{height:20px;width:18px;background-position:-136px -64px;}
.xjt_r{height:20px;width:18px;background-position:-112px -64px;}
.more_grid{height:18px;width:21px;background-position:-160px -64px;}
.dh_01{height:28px;width:24px;background-position:0 0;}
.dh_04{height:28px;width:24px;background-position:-81px 0;}
.dh_03{height:28px;width:24px;background-position:-54px 0;}
.dh_02{height:28px;width:24px;background-position:-27px 0;}
.dh_05{height:28px;width:24px;background-position:-108px 0;}
.dh_06{height:28px;width:24px;background-position:-135px 0;}
.dh_07{height:28px;width:24px;background-position:-162px 0;}
.qweix{height:34px;width:34px;background-position:0 -120px;}
.qweibo{height:34px;width:34px;background-position:-37px -120px;}
.qq{height:34px;width:34px;background-position:-74px -120px;}
.foot_tel{height:24px;width:24px;background-position:-112px -120px;}
.jt_right{height:50px;width:50px;background-position:-53px -63px;}
.jt_left{height:50px;width:50px;background-position:0 -63px;}


.top_main{width:1300px;margin:0 auto}
.top_logo{float:left;max-width:500px;height:70px;margin-top:15px}
.top_logo img{width:100%;display:block}
.dh_bg{max-width:780px;float:right;position:relative}
.dh_bg ul:after{display:table;content:'';clear:both}
.dh_bg ul li{float:left;width:110px;text-align:center;position:relative;z-index:5}
.dh_bg ul li>a{font-size:14px;color:#666;display:block;height:78px;padding-top:22px}
.dh_bg ul li>a i{display:block;margin:0 auto;width:24px;height:28px;background-position-y:0;transition:background-position-y .3s;-moz-transition:background-position-y .3s;-webkit-transition:background-position-y .3s;-o-transition:background-position-y .3s}
.dh_bg ul li>a span{display:block;height:16px;line-height:16px;margin-top:6px;overflow:hidden}
.dh_bg_cur{position:absolute;top:0;left:0;z-index:2;width:110px;overflow:hidden}
.dh_bg_cur img{display:block;position:relative;left:50%;margin-left:-50px}
.dh_bg ul li.cur>a{color:#fff}
.dh_bg ul li.cur>a i{background-position-y:-28px}

.two_nav_box{position:relative;position:absolute;width:1300px;right:0;z-index: 100;}
.two_nav_box .two_nav{position:absolute;right:0;overflow:visible;background-color:#f65251;border-radius:0px;padding:10px 0;display:none}
.two_nav_box .two_nav dl{padding:0 23px;position:relative;}
.two_nav_box .two_nav dl dt{font-size:15px;line-height:40px; height: 40px;}
.two_nav_box .two_nav dl dt a{color:#fff;}
/*
.two_nav_box .two_nav dl i{position:absolute;left:0;width:100%;height:1px;background:url(../img/menu_line.png) no-repeat center center;background-size:1px 100%}
*/
.two_nav_box .two_nav dl i{position:absolute;left:5px;width:90%;height:1px;border-bottom: solid 1px #ffffff; }
.two_nav_box .two_nav>div dl:first-child i{display:none}
.two_nav_box .two_nav dl dd a{font-size:12px;color:#999;line-height:40px}
.two_nav_box .two_nav dl dd:hover a{color:#fff;text-decoration:underline}


/**
 * 
.two_nav_box{position:relative;position:absolute;width:1300px;right:0;z-index: 100;}
.two_nav_box .two_nav{position:absolute;right:0;overflow:visible;background-color:#f65251;border-radius:0px;padding:10px 0;display:none}
.two_nav_box .two_nav dl{float:left;padding:0 20px;position:relative;}
.two_nav_box .two_nav dl dt{font-size:15px;line-height:30px}
.two_nav_box .two_nav dl dt a{color:#fff;font-weight:700}
.two_nav_box .two_nav dl i{position:absolute;left:0;width:1px;height:100%;background:url(../img/menu_line.png) no-repeat center center;background-size:1px 100%}
.two_nav_box .two_nav>div dl:first-child i{display:none}
.two_nav_box .two_nav dl dd a{font-size:12px;color:#999;line-height:26px}
.two_nav_box .two_nav dl dd:hover a{color:#fff;text-decoration:underline}
 */






.footer{background-color:#2b373d;font-family:"Microsoft Yahei"}
.footer-floor1{width:100%;padding:36px 0 60px}
.footer-list{width:69%;height:100%;float:left}
.footer-list ul{float:left;margin-right:19%}
.footer-list .flist-4{margin-right:0}
.footer-list li{line-height:32px}
.footer-list li a{color:#819199;font-size:14px;text-decoration:none}
.footer-list li a:hover{text-decoration:underline;color:#fff}
.footer-list .flist-title{font-size:16px;color:#fff;margin-bottom:15px}
.footer-floor2{width:100%;border-top:1px solid #819199;padding:20px 0;text-align:center}
.footer-floor2 p{text-align:center;color:#819199;font-size:12px;line-height:30px}
.footer-floor2 p span{font-family:PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif}
.footer-floor2 a{color:#819199}
.footer-floor2 a:hover{color:#a8d0e0;text-decoration:underline}
.foot-link{margin:0 15px;text-decoration:none;color:#819199}
.foot-link:hover{text-decoration:underline}
.footer-right{width:320px;float:right}
.telephone{width:100%;height:32px;line-height:32px;color:#fff}
.telephone span{display:inline-block;width:32px;height:32px;float:left;background:url(../img/phone_32px.png);margin-left:16%}
.telephone .tel-number{font-size:30px;font-weight:400;text-align:right}
.official-plat{width:100%;height:100%;margin-top:20px;position:relative}
.official-plat ul{float:right;margin-top:7px}
.official-plat ul li span{display:inline-block;width:32px;height:32px;background:url(../img/plat_icon.png) no-repeat 0 0;line-height:32px;float:left;margin-right:12px}
.official-plat ul li .weibo-logo{background:url(../img/plat_icon.png) no-repeat -32px 0}
.official-plat ul li .qq-logo{background:url(../img/plat_icon.png) no-repeat -64px 0}
.official-plat ul li{height:45px}
.official-plat ul a{display:inline-block;height:32px;width:100%;line-height:32px;color:#fff;text-decoration:none;font-size:12px}
.official-plat>p{display:inline-block;width:132px;height:132px;border:1px solid #ddd;background-color:#fff}
.official-plat .weixin{position:absolute;top:0;left:10px;background-image:url(../img/plat_qrcode.png);background-repeat:no-repeat;background-position:0 0}
.official-plat .weibo{position:absolute;top:0;left:10px;background-image:url(../img/plat_qrcode.png);background-repeat:no-repeat;background-position:-132px 0;display:none}
#wx-corner{border:10px solid transparent;border-left:10px solid #fff;position:absolute;top:12px;right:-20px;z-index:10}
#wb-corner{border:10px solid transparent;border-left:10px solid #fff;position:absolute;top:58px;right:-20px;z-index:10}
.five-superiority{width:100%;border-bottom:1px solid #819199;padding:10px 0 20px}
.five-superiority-list li{float:left;width:19%;height:36px;text-align:center;border-left:1px solid #819199}
.five-superiority-list li:first-child{border-left:none}
.five-superiority-list li a{display:inline-block;position:relative;width:100%;height:36px;line-height:36px;background:no-repeat 2% center;text-indent:2em;color:#fff;font-size:16px}
.five-superiority-list li a:hover{color:#bfe7f5}
.five-superiority-list li a.superiority-text{text-indent:4em}
.superiority-icon{position:absolute;width:40px;height:40px;left:10%;background-repeat:no-repeat;background-image:url(../img/footer_youshi.png)}
.compensate_ico .superiority-icon{background-position:0 0}
.compensate_ico:hover .superiority-icon{background-position:0 -50px}
.retreat_ico .superiority-icon{background-position:0 -100px}
.retreat_ico:hover .superiority-icon{background-position:0 -150px}
.technology_ico .superiority-icon{background-position:0 -200px}
.technology_ico:hover .superiority-icon{background-position:0 -250px}
.prepare_ico .superiority-icon{background-position:0 -300px}
.prepare_ico:hover .superiority-icon{background-position:0 -350px}
.service_ico .superiority-icon{background-position:0 -400px}
.service_ico:hover .superiority-icon{background-position:0 -450px}
.marquee-box{overflow:hidden;width:100%;position:absolute;left:0;top:0}
.marquee{width:8000%;height:60px}
.wave-list-box{float:left}
.wave-list-box ul{float:left;height:60px;overflow:hidden;zoom:1}
.wave-list-box ul li{height:60px;width:100%;float:left;line-height:30px;list-style:none}
.wave-box{position:relative;height:60px;background:#fff}



.indexduanluo{ width:100%;  display:inline-block;}
.indexduanluo h3,.indexduanluo h1{ display:block; padding:0; margin:0; text-align:center; font-size:28px; margin-top:36px; color:#2b373d; line-height:36px;}
.indexduanluo i{ display:block; margin:0 auto; border-bottom:2px solid #f65251; width:80px; height:12px; margin-bottom:10px;}
.indexduanluo p{ width:90%; margin:0 auto; text-align:center; color:#2b373d; font-size:18px; line-height:30px;}


/**kefu**/
/*固定的悬浮窗*/
.yb_conct{position:fixed;z-index:9999999;top:200px;right:-127px;cursor:pointer;transition:all .3s ease;}
.yb_bar ul li{width:180px;height:53px;font:16px/53px 'Microsoft YaHei';color:#fff;text-indent:54px;margin-bottom:3px;border-radius:3px;transition:all .5s ease;overflow:hidden;}
.yb_bar .yb_top{background:#f65251 url(../img/fixCont.png) no-repeat 0 0;}
.yb_bar .yb_phone{background:#f65251 url(../img/fixCont.png) no-repeat 0 -57px;}
.yb_bar .yb_QQ{text-indent:0;background:#f65251 url(../img/fixCont.png) no-repeat 0 -113px;}
.yb_bar .yb_ercode{background:#f65251 url(../img/fixCont.png) no-repeat 0 -169px;}
.hd_qr{padding:0 29px 25px 29px;}
.yb_QQ a{display:block;text-indent:54px;width:100%;height:100%;color:#fff;}


.caseall{margin:0 auto; height: 60px; width: 1300px;}
.caselist_page{margin:0 auto; }
.caselist_page li{float:left;margin-right:10px;font-size:15px;height:30px;line-height:30px;text-align:center;}
.caselist_page .p1{width:70px;}
.caselist_page .p2{width:30px;}
.caselist_page .p3{float:left;margin-right:10px;font-size:15px;width:30px;height:30px;line-height:30px;text-align:center;background:#f65251;color:#fff;border:1px solid #f65251;}
.caselist_page li a{display:block;border:1px solid #ccc;color: #f65251;}
.caselist_page li a:hover,.caselist_page ul li a{background:#f65251;color:#fff;border:1px solid #f65251;text-decoration: none;}